body {
    background-color: black;
}

header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #fcfbfa;
    background-image: url(./images/pngtree-connection-technologies-background-tech-visual-for-energy-template-image_438844.jpg);
    height: 250px;
    
}

header h1 {
    display: inline-block;
    font-size: 60px;
    
    
}

header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 40px;
}

header nav ul {
    list-style-type: none;
}

header nav ul li {
    display: inline-block;
    margin-left: 25px;
}

main{
    width: 75%;
    margin-left: 150px;
   
    
}

.section-main {
   text-align: center;
   margin: 10px;
    padding: 50px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #f1efef;
}

.content-box {
    width: 1000px;
    padding: 25px;
    margin: 10px;
    font-size: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.content-box-about {
    background-color: #ecf0f1;
    color: black;
    border-style: solid;
    border-color: #04b2f7;
}

.content-box-work {
    height: 500px;
    width:99%;
    background-image: url(./images/Copy\ of\ Dylan_Agnello_PDCV1_CERT.jpg);
    background-size: cover;
    background-position: 50%;
    position: relative;
    margin: 5px;
    border-style: solid;
  border-color: #04b2f7;
}

.content-box-work p {
    background-color: #04b2f7;
    color: black;
    width: 200px;
    position: absolute;
    justify-content: center;
    bottom: 0;
    left: 0;
}

.content-box-1half {
    background-color: #04b2f7;
    width: 47.5%;
    margin: 10px;
    background-image: url(./images/20220303_HV_Blue_014_Featured-Content-AND-Sliding-Cards-AND-Container-Long-Amount.jpg);
  height: 300px;
  background-size: cover;
  border-style: solid;
  border-color: #04b2f7;
}

.content-box-1half p {
    background-color: #04b2f7;
    color: black;
    width: 150px;
    position: relative;
    top: 250px;
}

.content-box-2half {
    background-color: #04b2f7;
    width: 47.5%;
    margin: 10px;
    height: 300px;
    background-image: url(./images/6a3f2e1c53291488b03b3d8d3a29a315.jpg);
    background-size: cover;
    background-position: 50%;
    border-style: solid;
  border-color: #04b2f7;
}

.content-box-2half p {
    background-color: #04b2f7;
    color: black;
    width: 150px;
    position: relative;
    top: 250px;
}

.section-main h2 {
    margin-right: 0%;
    height: 10%;
    font-size: 50px;
    text-decoration: underline; 
}

a {
    color: #fcfbfa;

}
a:hover {
    background-color: #04b2f7;
    color:black;

}
footer {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #fcfbfa;
    background-image: url(./images/pngtree-connection-technologies-background-tech-visual-for-energy-template-image_438844.jpg);
    background-size: contain;
    background-position: 100%;
}
footer h2 {
    display: inline-block;
    font-size: 60px;
}
footer div {
    padding-top: 15px;
    margin-right: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 40px;
}

footer div ul li {
    display: inline-block;
    margin-left: 25px;
}
